{
	"$schema": "https://json.schemastore.org/prettierrc",
	"tabWidth": 1,
	"singleQuote": false,
	"useTabs": true,
	"trailingComma": "es5",
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"printWidth": 90,
	"plugins": ["prettier-plugin-tailwindcss"]
}
